/* nav */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.header {
  padding: 0 4.8rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to top left, #2a92ac ,#1eb2c6);
}

.header .logo {
  height: 3rem;
}

.navbar-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: #212529;
  transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
  color: #f5f5f5;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 4rem;
  height: 4rem;
  color: #212529;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}


/* ===========================================
Responsive Codes 
======================================= */

/* 980px  */
@media (max-width: 62em) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    border: 3px solid #212529;
    color: #212529;
  }

  .header {
    position: relative;
  }

  .header .logo {
    width: 40%;
  }

  .navbar {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background: #e7f5ff;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    /* to get the tranisition  */
    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
}

/* Below 560px  */
@media (max-width: 35em) {
  .header {
    padding: 0 2.4rem;
  }

  .header .logo {
    width: 60%;
  }
}







/*  contact us  */

.contactus{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #1cb7b4;
   
}

.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.item{
    margin-top: 10em;
    width: 100%;
    height: 550px;
    max-width: 820px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.4);
    overflow: hidden;
    grid-template-columns: repeat(2,1fr);
    display: grid;
    z-index: 1000;

}
.contact{
    background-color: #ffffff;

}

.submit-form{
    background-color:#1cb7b4;
}

.first-text{
    color: #1cb7b4;
    padding: 20px;
    font-size: 1.5em;
    padding-left: 20px;
    padding-top: 20px;

}

.contact-img{
    width:200x;
    height: 200px;
}

.first-text img{
    width: 200px;
}



.secnd-text{
    padding-left: 20px;
    font-size: 1.5em;
    color: #1cb7b4;
    line-height: 40px;
}

.social-media{
    display: flex;
    list-style: none;
    padding-left: 20px;
    margin-top: 10rem;
}

.social-media li{
    font-size: 30px;
    padding: 10px;
    color: #fff;
}

.social-media li a:hover{
    transform: scale(1);
}

.social-media {
    background-color: #67c3f3;
    padding: 5px;
    border-radius: 5px;
}
ul li{
    padding-left:15px;
    font-size: 24px;
    margin-top: 10px;
}
i{
background-color: #67c3f3;
padding: 5px;
border-radius: 5px;
transition: .3s;
color: #fff;
}
.social-media i:hover{
    background: #fff;
    color: #67c3f3;
}


.third-text{
    font-size: 25px;
    position: relative;
    top: 20px;
    left: 20px;
    padding-top:10px ;
    color: #3d3c3c;

}

form{
    padding: 0 50px;
    height: 100%;
    width: 100%;
    overflow: hidden;

}

.input-box{
    height: 40px;
    width: 70%;
    margin: 30px 0;
    position: relative;

}
.input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    color: #fff;
    font-size: 18px;

}


.input-box label{
    position: absolute;
    top: 50%;
    left: 10px;
    padding-left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    transition: .3s;
}
.input-box .input:focus ~label,
.input-box .input:valid ~ label{
    top: -1px;
    left: 10px;
    background-color:#1cb7b4;
    font-weight: 500;
    padding: 5px;
    font-size: 12px;

    

}

textarea.input{
    resize: none;
    height: 150px;
    overflow: auto;
}

.btn{
    position: relative;
    top: 100px;
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 45px;
    width: 30%;
font-size: 18px;

color: #67c3f3;
cursor: pointer;
font-weight: 500;

}

@media(max-width:850px){
    .item{
        grid-template-columns: 1fr;

    }
    .contact{
        display: none;
    }
    .text{
        font-size: 40px;
        text-align: center;
    }

}

@media(max-width:480px){
    .item{
        grid-template-columns: 1fr;

    }
    .contact{
        display: none;
    }
    .text{
        font-size: 20px;
        text-align: center;
    }
    .btn{
        width: 20%;
        height: 40px;
        font-size: 12px;
    }

}