

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.header {
 

  padding: 0 4.8rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #3195a0; */
  z-index: 2;
  background: linear-gradient(to top left, #2a92ac ,#1eb2c6);
}

.header .logo {
  height: 3rem;
}

.navbar-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: #212529;
  transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
  color: #f0f0f0;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 4rem;
  height: 4rem;
  color: #212529;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* ===========================================
Responsive Codes 
======================================= */

/* 980px  */
@media (max-width: 62em) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    border: 3px solid #212529;
    color: #212529;
  }

  .header {
    position: relative;
  }

  .header .logo {
    width: 40%;
  }

  .navbar {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background: #e7f5ff;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    /* to get the tranisition  */
    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
}

/* Below 560px  */
@media (max-width: 35em) {
  .header {
    padding: 0 2.4rem;
  }

  .header .logo {
    width: 60%;
  }
}


/*  hero section */




.nav{
    background-image: url(./image/asset\ 55.jpeg);
}

.section-hero{
    width: 100%;
   

}

.hero{
    width: 80%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    gap: 4rem;
    margin-top: 30px;
    
}

.hero-img .hero-doctor-img{
    width: 90%;
    height: auto;

}

.hero-heading{
    font-size:55px;
    line-height: 80px;
    margin-top: 50px;
    letter-spacing: normal;


}
.hero-desc{
    font-size: 18px;
    margin-top: 10px;
    letter-spacing: normal;
    line-height: 28px;

}

.primary-btn{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #1984d0;
    border: none;
    color: #fff;
    font-size: 1.5em;
}



@media(max-width:900px){

    .hero{
        width: 80%;
        flex-direction: column;
        
    }

    .hero-img .hero-doctor-img{
        width: 90%;
        height: auto;
    
    }

}


/*  about section */

.section-about{
    width: 100%;
   

}

.about-container{
    width:80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 50px;
    gap: 4rem;


}

.about-img .about-image{
    width: 95%;

}


.about-heading{
    font-size: 35px;
  
    line-height: 50px;
    letter-spacing: normal;
    text-align: left;
    

}
.about-desc{

    font-size: 18px;
  
    line-height: 30px;
    letter-spacing: normal;
    text-align: left;
    color: #a7a4a4;
    margin-top: 20px;


}

@media(max-width:1160px){
    .about-img-about{
        width: 60%;

    }
    .about-img .about-image{
        width: 95%;
    
    }

    .about-heading{
        font-size: 25px;
      
       
        
    
    }
    .about-desc{
    
        font-size: 16px;
      
        line-height: 30px;
        letter-spacing: normal;
        text-align: left;
        color: #a7a4a4;
        margin-top: 20px;
    
    
    }
}

@media(max-width:900px){

    .about-container{
        width: 80%;
        flex-direction: column;
        
    }

    .hero-img .hero-doctor-img{
        width: 90%;
        height: auto;
    
    }

    .about-img .about-image{
        width: 98%;
    
    }

}



/* Benefit Section Start */



.benefit{
    width: 100%;
    
}

.benefit-container{

    width: 80%;
    margin: auto;
   
}

.benefit-head{
    margin-top: 50px;
    text-align: center;

}
.benefit-head img{
 
   width: 80%;

}

.benefit-heading{
    font-size: 35px;

}

.special-benefit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}


.benefit-category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
    margin-top: 40px;
   
}

.special{
    margin: 20px;
}

.special img{
    width: 130px;
    height: 150px;
}

.special-img{
    width: 80%;
}

.special-heading{
  font-size: 24px;
line-height: 26px;
text-align: left;
letter-spacing: normal;
color: #434959;

}

.special-desc{
font-size: 15px;
line-height: 22px;
text-align: left;
letter-spacing: normal;
}

@media(max-width:1200px){

    .benefit-head.benefit-img{
        width: 467px;
        height: 99px;
     
     }
}

@media(max-width:1023px){

    .benefit-head.benefit-img{
        width: 80%;
     
     }
     .special-img{
        width: 80%;
    }
}

@media(max-width:900px){
    
    .special-benefit{

        flex-direction: column;
    }
}


/* facility */


.facility{
    width: 100%;

}

.facility-container{
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.facility-item{
    text-align: center;
}

.facility-item img{
    width:600px; 
    height:171px;
}

.fac-heading{
    FONT-SIZE:48px;
LINE-HEIGHT:56px;
TEXT-ALIGN:center;
LETTER-SPACING:normal;
}
.fac-desc{
    FONT-SIZE:15px;
LINE-HEIGHT:22.5px;
TEXT-ALIGN:center;
LETTER-SPACING:normal;
color: #777777;
}

.facility-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fac-card{
margin-top: 30px;

TEXT-ALIGN:center;
LETTER-SPACING:normal;
box-shadow: 0 0 10px rgb(0,0,0,0.4);
text-align: center;
padding: 10px 10px;
}

.fac-card img{
    width: 80px; 
    height:50px;
}

.fac-name{
    FONT-SIZE:18px;
LINE-HEIGHT:19.8px;
TEXT-ALIGN:center;
LETTER-SPACING:normal;
}


/*  footer section */


/* .footer-img{
 
  width: 100%;
  height: auto;
  background-color: #a7a4a4;
} */

footer{
  width: 100%;
  height: 400px;
  margin-top: 4rem;
  background-image: url("./image/asset\ 60.jpeg"); 
  position: relative;
  top: 100px; 
}

.footer-container{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  margin-top:4em;
}

.footer-item{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.item1-heading{
  font-size: 25px;
  margin-top: 4rem;

}

.item-list li{
  list-style: none;


}
.item-list{
  margin: 10px;
}

.item-list li a{

  text-decoration: none;
  font-size: 18px;
  color: #a7a4a4;
  

}

.line{
 
  /* border: 2px solid black; */
}
hr{
  border: 1px solid rgb(69, 68, 68);
  height: 130px;

}


.item-list li a:hover{

  color:#1eb2c6;

}
.footer-heading{
  font-size: 30px;
}

.footer-des{
  font-size: 18px;
  color: #a7a4a4;
}